@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-bright: #F0E8E8;
    --color-text-dark: #252945;
    --color-text-hover: #e0b185;
    --color-bg-main: #11121f;
    --color-bg-secondary: #FFEDD5;
  }
}

@layer utilities {
  .link {
    position: relative;
   @apply text-bright transition duration-300 ease-in-out
  }

  .link:hover {
    @apply text-hover
  }

  .active {
    @apply text-hover
  }
}

.transition-icon {
  transition: all 0.3s ease-in-out
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 16px;
  color: var(--color-text-bright);
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

#__next {
  min-height: 100vh;
}